/* 1024px*/
hr{
	border: none;
	border-bottom: 1px solid #CCCCCC;
}

td{
	padding: 0px;
}

.publicPrivateOptions{
	color: #777777;
}

a:link.accountLinks, a:visited.accountLinks{
	display: block;
	text-decoration: underline;
}

a:hover.accountLinks, a:active.accountLinks{
	color: #C0392B;
	text-decoration: underline;
}

a:link.accountSubLinks, a:visited.accountSubLinks{
	color: #006699;
	text-decoration: none;
}

a:hover.accountSubLinks, a:active.accountSubLinks{
	color: #C0392B;
	text-decoration: none;
}

a:link.accountSubLinksBold, a:visited.accountSubLinksBold{
	color: #C0392B;
	text-decoration: none;
	font-weight: bold;
}

a:hover.accountSubLinksBold, a:active.accountSubLinksBold{
	color: #006699;
	text-decoration: none;
	font-weight: bold;
}

#right_side_padding{
	width: 864px;
	padding-left: 10px;
	float: left;
}

#sub_section{
	padding-bottom: 10px;
	border-bottom: 1px solid gray;
}

#sub_section_title{
	font-size: 14px;
	padding-bottom: 20px;
}

.new-post-row{
	margin: 5px;
	padding-right: 10px;
	width: 575px;
	float: left;
}

#newpostform{
	padding: 0;
	position: relative;
}

.privacy-row{
	width: 571px;
	padding: 2px;
	margin-top: 3px;
	margin-bottom: 5px;
}

.shortcodes{
	padding: 5px 0 0;
	color: #555555;
}

#new-post-nav{
	height: 20px;
	padding-bottom: 5px;
}

#new-post-nav a{
	float: left;
	color: #333333;
	font-family: 'OpenSans-CondBold', sans-serif;
	font-size: 14px;
	line-height: 30px;
	text-decoration: none !important;
	opacity: 0.3;
	-moz-opacity: 0.3;
	-webkit-opacity: 0.3;
	filter: alpha(opacity=30);
	padding-left: 25px;
}

#new-post-nav a.selected{
	opacity: 1;
	-moz-opacity: 1;
	-webkit-opacity: 1;
	filter: alpha(opacity=1);
}

#new-post-nav a.post-text{
	background: url(/images/text.png) no-repeat 0 center;
}

#new-post-nav a.post-image{
	background: url(/images/image.png) no-repeat 0 center;
}

#new-post-nav a.post-video{
	background: url(/images/video.png) no-repeat 0 0;
}

#new-post-nav span{
	color: #555555;
	width: 20px;
	text-align: center;
	color: #C1C5C8;
	float: left;
	line-height: 30px;
	font-size: 15px;
}

textarea.newPost{
	margin-bottom: 10px;
}

#youtube_url{
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	width: 485px;
	margin-bottom: 10px;
}

#new-video-url{
	display: none;
}

.file-row{
	display: none;
	float: left;
	width: 275px;
}

#save-btn{
	margin-bottom: 10px;
}

#file_upload.hide{
	left: -9999px !important;
	height: 0 !important;
}

#main_aside{ /*140*/
	width: 160px;
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 10px;
	float: left;
}

#right_side{ /*884 (there is 10 pixels of empty space to the right)*/
	width: 843px;
	margin-top: 5px;
	padding-left: 10px;
	margin-bottom: 10px;
	float: left;
	border-left: 1px solid #CCCCCC;
}

/*Trade part*/
.left-trade-cat-list{
	margin: 5px 0px 10px 0px;
	list-style-type: none;
	border: 1px solid #CCCCCC;
}

.left-trade-cat-list li{
}

.left-trade-cat-list li:hover{
	background: #E8E8E8;
}

.left-trade-cat-list li a{
	padding: 4px 10px;
	color: #333333;
	display: block;
	text-decoration: none;
	font-weight: bold;
}

.left-trade-cat-list li a:hover{
	text-decoration: none;
}

.main_aside_wide{
	width: 232px !important;
	border-right: none !important;
}

.right_side_narrow{
	width: 770px !important;
	float: right !important;
}

.trade-top-search-box{
	background: #F0F0F0;
	padding: 8px 10px;
}

.trade-top-search-box .q{ /*search*/
	padding: 2px;
	border: 1px solid #CCCCCC;
	width: 705px;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	margin-right: 10px;
}

.trade-top-search-box .c{
	float: left;
	margin-right: 10px;
	width: 216px;
	border: 1px solid #CCCCCC;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 1px;
}

.trade-top-search-box .search_btn{
	float: right;
}

#trade_top_search{
	background: white;
	/* padding: 10px 10px 2px; */
	border-bottom: 1px solid #CCCCCC
}

#trade_top_search form{
	padding: 0;
}

.floatright{
	float: right !important;
}

.trade-item-panel{
	padding: 20px 0;
}

.trade-item-panel .row{
	margin: 10px 0;
}

.trade-item-panel .row label,
.trade-item-panel .row .l{
	float: left;
	line-height: 22px;
	padding-right: 10px;
	text-align: right;
	width: 120px;
}

.trade-item-panel .row .inputholder,
.trade-item-panel .row .selectholder{
	float: left;
	width: 430px;
}

.trade-item-panel .row .inputholder .r{
	text-align: left;
	width: auto;
}

.trade-item-panel .row .inputholder strong{
	font-weight: normal;
	font-size: 11px;
	color: #666666;
	line-height: 22px;
}

.trade-item-panel .row .input{
	width: 400px;
}

.trade-item-panel .row .inputdesc{
	width: 400px;
	height: 100px;
}

.trade-item-panel .row .select{
	width: 200px !important;
}

.trade-left-panel{
	/* border-right: 1px solid gray; */
}

.redstar{
	color: #C0392B !important;
}

#image_list_container{
	padding-left: 130px;
}

#image_list_container .img-node{
	float: left;
	width: 125px;
	height: 115px;
	margin-right: 4px;
	padding: 10px 5px;
	position: relative;
	border: 1px solid #CCCCCC;
	margin-bottom: 4px;
}

#image_list_container .img-node img{
	max-width: 110px;
	max-height: 110px;
}

#image_list_container .remove-img-btn{
	width: 16px;
	height: 16px;
	background: url("../images/uploadify-cancel.png") no-repeat 0 0;
	position: absolute;
	right: 2px;
	top: 2px;
	cursor: pointer;
}

.trade-available-list, .trade-item-list{
	padding: 0px 10px 10px 0;
}

.no-trade-data{
	padding: 80px 20px;
	color: #666666;
	font-size: 14px;
	text-align: center;
}

.trade-available-list .top-header-cont{
	padding-top: 10px;
}

.trade-available-list .n1{
	float: left;
	width: 85px;
	margin-right: 10px;
	text-align: center;
}

.trade-available-list .n1 img{
	max-width: 85px;
	max-height: 85px;
}

.trade-available-list .top-header-cont .n2{
	min-height: 10px;
}

.trade-available-list .n2{
	width: 373px;
	float: left;
	text-align: left;
	position: relative;
}

.trade-available-list .n2 .itemnum{
	/*
    position: absolute;
    bottom: 0px;
	*/
}

.trade-available-list .n3{
	width: 135px;
	float: left;
	text-align: center;
}

.trade-available-list .n4{
	width: 100px;
	float: left;
	text-align: center;
}

.trade-available-list .n5{
	width: 110px;
	float: left;
	margin-left: 20px;
}

.trade-available-list .n5 a{
	display: block;
	margin-bottom: 3px;
}

.trade-available-list .node{
	border-bottom: 1px solid #CCCCCC;
	padding: 10px 0px;
}

.trade-available-list .top-header-cont a{
	color: gray;
	text-decoration: underline;
}

.center{
	text-align: center !important;
}

.trade-available-list a{
}

.trade-available-list .n2 a{
}

.trade-available-list .n2 a:hover{
	text-decoration: none;
}

.trade-available-list .red-bold{
	color: #C0392B;
}

.trade-available-list .red{
	color: #C2322B;
}

.trade-available-list .subtitle{
	color: #666666;
}

/*trade pagination*/
#trade_pagination{
	position: relative;
}

#trade_pagination .trade-page-box{
	padding: 40px 50px;
	text-align: center;
}

#trade_pagination .trade-page-box span a{
	padding: 2px 4px;
	text-decoration: none;
	border: 1px solid #FFFFFF;
	display: block;
	font-size: 14px;
	line-height: 16px;
}

#trade_pagination .trade-page-box span a:hover{
	border: 1px solid #CCCCCC;
	text-decoration: none;
}

#trade_pagination .trade-page-box span.cur-page{
	padding: 2px 4px;
	display: inline-block;
	border: 1px solid #CCCCCC;
	margin: 0 2px;
}

#trade_pagination .trade-page-box span{
	display: inline-block;
	line-height: 18px;
}

#trade_pagination .total-record-p{
	position: absolute;
	left: 10px;
	top: 20px;
	color: #999999;
	font-size: 12px;
}

/*Search page */

.trade-search-left-panel{
	border-right: none;
}

.trade-search-left-panel .block-s{
	margin-bottom: 20px;
}

.trade-search-left-panel .block-s span.titles{
	display: block;
	padding-bottom: 3px;
}

.trade-search-left-panel .block-s select{
	width: 160px;
	border: 1px solid #CCCCCC;
	padding: 1px;
	margin-top: 3px;
}

.trade-search-result{
}

.trade-search-result .breadcrumb{
	margin-bottom: 10px;
}

.trade-search-result .breadcrumb a, .trade-search-result .breadcrumb{
	font-size: 12px;
}

.trade-search-result .sort-box{
	width: 100%;
	padding-bottom: 10px;
}

.trade-search-result .sort-box .l{
	float: left;
	color: #999999;
	margin-top: 4px;
}

.trade-search-result .sort-box .r{
	float: right;
	color: #333333;
}

.trade-search-result .sort-box .r select{
	float: right;
	border: 1px solid #CCCCCC;
	color: #333333;
	padding: 1px;
}

.trade-search-result .sort-box .r label{
	float: right;
	margin-right: 5px;
	margin-top: 4px;
	display: block;
}

.trade-search-result-list{
	border: 1px solid #CCCCCC;
	padding: 10px;
	margin-bottom: 5px;
}

.trade-search-result-list .node{
	padding-top: 10px;
	border-top: 1px solid #CCCCCC;
	color: #666666;
	margin-top: 10px;
}

.trade-search-result-list .node.first{
	margin-top: 0;
	padding-top: 0;
	border-top: none;
}

.trade-search-result-list .node .item-img{
	float: left;
	max-width: 150px;
	max-height: 150px;
	margin-right: 10px;
	/* BuckyThumbChanges */
	width: 150px;
	text-align: center;
}

.trade-search-result-list .node .item-desc{
	float: left;
	width: 432px;
	margin-right: 10px;
	/* min-height: 140px; */
	position: relative;
}

.trade-search-result-list .node .item-desc a{
	text-decoration: none;
}

.trade-search-result-list .node .item-desc a:hover{
	text-decoration: none;
}

.trade-search-result-list .node .item-desc a.item-name{
	font-size: 14px;
	font-weight: bold;
}

.trade-search-result-list .node .item-desc a.uname{
	color: #006699;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
}

.trade-search-result-list .node .item-desc .btm{
	/*
    position: absolute;
    bottom: 10px;
    font-size:12px;
	*/
	margin-top: 10px;
}

.trade-search-result-list .node .item-desc a.rating{
	color: #006699;
	font-size: 12px;
	line-height: 15px;
}

.trade-search-result-list .node .item-offer{
	width: 100px;
	float: left;
	text-align: center;
}

.trade-search-result-list .node .item-offer .red{
}

.trade-search-result-list .node .item-time-left{
	width: 100px;
	float: left;
	text-align: right;
	color: #C0392B;
}

.trade-search-left-panel .left-cat-list{
	list-style-type: none;
	margin-top: 3px;
	line-height: 16px;
}

.trade-search-left-panel .left-cat-list li{
	margin-bottom: 3px;
}

.trade-search-left-panel .left-cat-list span{
	font-size: 11px;
	color: #999999;
}

.trade-full-panel{
	padding: 10px;
}

.trade-view-images{
	width: 348px;
	padding: 7px;
	border: 1px solid #CCCCCC;
	margin-right: 10px;
	float: left;
}

.trade-view-info{
	width: 372px;
	/* padding: 7px; */
	padding: 5px;
	border: 1px solid #CCCCCC;
	margin-right: 10px;
	float: left;
}

.trade-view-info .action-cont a, .trade-view-owner .action-cont a{
	display: inline-block;
	/*
    font-size: 13px;
    line-height: 16px;
    margin-bottom:3px;
	*/
}

.trade-view-owner{
	width: 224px;
	padding: 5px;
	border: 1px solid #CCCCCC;
	float: left;
}

.trade-view-images .m{
	width: 346px;
	height: 260px;
	text-align: center;
}

.trade-view-images .m img{
	max-width: 346px;
	max-height: 266px;
	display: block;
	margin: auto;
}

.trade-view-images .thumb{
}

.trade-view-images .thumb ul{
	list-style-type: none;
	margin-left: -2px;
}

.trade-view-images .thumb ul li{
	float: left;
	width: 62px;
	height: 62px;
	margin-left: 2px;
	margin-bottom: 2px;
	border: 1px solid #CCCCCC;
	padding: 2px;
}

.trade-view-images .thumb ul li:hover{
	border: 1px solid #999999;
}

.trade-view-images .thumb ul li.sel{
	border: 2px solid #666666;
	padding: 1px;
}

.trade-view-images .thumb ul li table{
	width: 100%;
	height: 100%;
}

.trade-view-images .thumb ul li table tbody{
	width: 100%;
	height: 100%;
}

.trade-view-images .thumb ul li table tr td{
	padding: 0;
	text-align: center;
}

.trade-view-images .thumb ul li.first{
}

.trade-view-images .thumb ul li img.large{
	display: none;
	width: 0;
	height: 0;
}

.trade-view-images .thumb ul li img{
	width: 62px;
	max-height: 62px;
}

.trade-view-images .d{
	font-size: 10px;
	line-height: 12px;
	padding: 5px;
	text-align: center;
}

.trade-view-description{
	/*
    border: 1px solid #CCC;
    padding: 5px;
	*/
	margin-top: 10px;
}

.trade-view-description .d{
	margin-bottom: 10px;
}

.trade-view-info .i-name{
	color: #006699;
	font-size: 14px;
	font-weight: bold;
}

.trade-view-info .i-subtitle{
	color: #666666;
}

.trade-view-info .i-info{
	padding: 10px 0;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 5px;
}

/*
.trade-view-info .i-info dt {
    color: #999;
    display: inline-block;
    float: left;
    width: 30%;
    margin-bottom: 4px;
    height: 17px;
}
.trade-view-info .i-info dd {
    display: inline-block;
    color: #000;
    float: left;
    width: 70%;
    margin-bottom: 4px;
    height: 17px;
    font-weight: bold;
    font-size: 13px;
}
*/
.trade-view-info .i-info dt{
	display: inline-block;
	float: left;
	font-weight: bold;
}

.trade-view-info .i-info dd{
	margin-left: 3px;
	display: inline-block;
	float: left;
}

.trade-view-info .i-info dd.red{
	color: #C2322B;
}

.trade-view-info .titles{
	padding-bottom: 3px;
	display: block;
}

.trade-view-owner .postIcons{
	width: 50px;
}

.trade-view-owner .profileLink span{
	display: inline-block;
	padding-top: 5px;
}

.trade-view-owner .action-cont{
	padding-top: 5px;
}

.make-offer-panel{
	display: none;
	padding: 0px 5px 5px 5px;
	float: left;
	width: 618px;
}

.make-offer-panel .inner-p{
	width: 100%;
	max-height: 635px;
	overflow: hidden;
	overflow-y: scroll;
	margin-bottom: 10px;
	position: relative;
	border: 1px solid #CCCCCC;
	margin-top: 3px;
}

.needmask{
	position: relative !important;
}

.needmask .mask{
	width: 100%;
	height: 100%;
	background: white;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.2;
	-moz-opacity: 0.2;
	-webkit-opacity: 0.2;
	filter: alpha(opacity=20);
}

#make_an_offer_btn{
	margin-right: 5px;
}

.red-btn{
	background-color: #C0392B;
	border: 1px solid #C0392B;
	display: inline-block;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 2px 5px;
	text-decoration: none;
}

.red-btn:hover{
	background-color: #AA0000;
	border: 1px solid #AA0000;
	cursor: pointer;
}

.blue-btn{
	background: #006699;
	background: -webkit-gradient(linear, left top, left bottom, from(#0079BC), to(#006699));
	background: -moz-linear-gradient(top, #0099CC, #006699);
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	border: 1px solid transparent;
	color: white;
	font-weight: bold;
	font-size: 14px;
	padding: 3px 8px;
	text-align: center;
}

.blue-btn:hover{
	background: #006699;
	cursor: pointer;
}

.light-gray-btn{
	background: #CCCCCC;
	background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#CCCCCC));
	background: -moz-linear-gradient(top, #EFEFEF, #CCCCCC);
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	color: #333333;
	font-weight: bold;
	font-size: 14px;
	padding: 3px 8px;
	text-align: center;
}

.light-gray-btn:hover{
	background: #CCCCCC;
	cursor: pointer;
}

a.blue-btn{
	background: #006699;
	background: -webkit-gradient(linear, left top, left bottom, from(#0079BC), to(#006699));
	background: -moz-linear-gradient(top, #0099CC, #006699);
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	border: 1px solid transparent;
	color: white;
	font-weight: bold;
	font-size: 14px;
	padding: 3px 8px;
	text-align: center;
	margin: 5px 0px;
}

a.blue-btn:hover{
	background: #006699;
	cursor: pointer;
}

#offer_available_items{
	list-style-type: none;
	padding: 0px 5px;
}

#offer_available_items li{
	border-bottom: 1px solid #CCCCCC;
	padding: 10px 0;
}

#offer_available_items li .rad{
	float: left;
	width: 50px;
	position: relative;
}

#offer_available_items li .rad input{
	margin: 30px 15px
}

#offer_available_items li .image{
	width: 80px;
	margin-right: 10px;
	text-align: center;
	float: left;
	display: table-cell;
}

#offer_available_items li .image img{
	max-width: 80px;
	max-height: 80px;
	vertical-align: middle;
}

#offer_available_items li .desc{
	float: left;
	width: 446px;
}

#offer_available_items li .desc .t{
	color: #006699;
}

#offer_available_items li .desc .st{
	color: #666666;
}

#offer_available_items li .desc .item-no{
	padding-top: 10px;
	color: #999999;
}

/*offer received */
.offer-received{
	/* padding-top: 20px; */
	padding-right: 10px;
}

.offer-received .top-header-cont{
	padding-top: 10px;
}

.offer-declined .top-header-cont .n0{
	float: left;
}

.offer-declined .top-header-cont .n1{
	/* width: 337px !important; */
}

.offer-declined .top-header-cont .n2{
	/* width: 350px !important; */
}

.offer-received .top-header-cont .n1{
	color: #999999;
	float: left;
	width: 278px;
	padding-left: 60px;
}

.offer-received .top-header-cont .n2{
	color: #999999;
	float: left;
	width: 277px;
	padding-left: 70px;
}

.offer-received .top-header-cont .n3{
	color: #999999;
	float: left;
	padding-left: 10px;
}

.offer-received .node{
	padding: 10px 0;
	border-bottom: 1px solid #CCCCCC;
}

.offer-received .node table{
}

.offer-received .node table td.chk{
	padding-right: 10px;
}

.offer-received .node table td.my{
	width: 322px;
	border-right: 1px solid #CCCCCC;
	padding-right: 10px;
	vertical-align: top;
}

.offer-received .node table td.their{
	width: 321px;
	border-right: 1px solid #CCCCCC;
	padding-right: 10px;
	padding-left: 10px;
	vertical-align: top;
}

.offer-received .node table td.act{
	width: 135px;
	vertical-align: top;
	color: #999999;
	padding-left: 10px;
}

.offer-received .node .f-desc{
	float: left;
	width: 680px;
	color: #666666;
	font-size: 12px;
}

.offer-received .node .f-desc span{
	color: #444444;
}

.offer-received .node .f-desc span.red, .offer-received .node .red{
	color: #C0392B;
}

.offer-received .node .f-desc span.blue{
	color: #395D84;
}

.offer-received .node .f-user{
	float: left;
	width: 180px;
}

.f-user-image{
	float: left;
	width: 30px;
	margin-right: 5px;
}

.f-user-image img{
	max-width: 27px;
	max-height: 27px;
	margin-top: 0;
}

.f-user-desc{
	float: left;
	width: 140px;
	font-size: 11px;
}

.f-user-desc .profileLink{
	font-weight: bold;
	display: inline-block;
}

.offer-received .node .image{
	width: 50px;
	margin-right: 10px;
	float: left;
	text-align: center;
}

.offer-received .node .image img{
	max-width: 50px;
	/* max-height: 50px; */
	/* display: block; */
}

.offer-received .node .desc{
	width: 260px;
	float: left;
}

.offer-received .node .desc .t a{
	color: #006699;
}

.offer-received .node .desc .t a:hover{
	color: #C0392B;
	text-decoration: none;
}

.offer-received .node .desc .st, .offer-received .node .desc .i-num{
	color: #999999;
}

.offer-received .node .bold{
}

.offer-declined .remove-btn-cont{
	padding: 10px 0;
}

.notify-setting-panel{
	padding: 10px 40px;
}

.notify-setting-panel .row{
	border-bottom: 1px solid #CCCCCC;
	padding: 10px;
	padding-left: 0px;
}

.notify-setting-panel .row .l{
	width: 80%;
	float: left;
}

.notify-setting-panel .row .r{
	width: 19%;
	float: left;
	text-align: right;
}

/*traded page */
.row-shipping-info{
	margin-top: 10px;
	font-size: 13px;
	display: none;
}

.row-shipping-info strong{
	display: block;
	font-weight: normal;
	color: #999999;
}

.row-shipping-info div, .row-shipping-info p{
	font-size: 12px;
}

.infohide{
	display: none;
}

.leave_tracking_number_btn{
}

.edit-tracking-number-box{
	position: absolute;
	z-index: 101;
	background: #191919; /* color for older browsers */
	background: rgba(0, 0, 0, 0.8); /***** opacity *****/
	right: 0;
	top: -30px;
	text-align: left;
	cursor: default;
	padding: 5px 10px 10px 10px;
}

.edit-tracking-number-box .title{
	font-weight: bold;
	color: white;
	display: block;
	padding-bottom: 5px;
}

.edit-tracking-number-box input[type="text"]{
	width: 200px;
	height: 18px;
	padding: 2px;
	display: block;
	margin-bottom: 10px;
}

.edit-tracking-number-box input[type="button"]{
}

.tracking-number-span{
	display: inline-block;
	width: 150px;
}

.trade-mask{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	top: 0;
	background: #FFFFFF; /* color for older browsers */
	background: rgba(0, 0, 0, 0.1); /***** opacity *****/
}

.trade-completed-panel .node table td.act .action-group{
	position: relative;
	z-index: 105;
}

.edit-feedback-box{
	padding: 5px 10px 10px 10px;
	position: absolute;
	z-index: 200;
	background: #191919; /* color for older browsers */
	background: rgba(0, 0, 0, 0.8); /***** opacity *****/
	right: 0;
	top: -30px;
	text-align: left;
	cursor: default;
}

.edit-feedback-box .title{
	font-weight: bold;
	color: white;
	display: block;
	margin-bottom: 10px;
}

.edit-feedback-box textarea{
	width: 284px;
	height: 120px;
	display: block;
	margin-bottom: 10px;
	padding: 3px;
	font-family: Arial;
	color: #777777;
}

.edit-feedback-box .thumbup{
	background: url("../images/thumb.png") no-repeat 0 0;
	width: 25px;
	height: 25px;
	float: left;
	margin-right: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	display: block;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.edit-feedback-box .thumbdown{
	background: url("../images/thumb.png") no-repeat 0 -25px;
	width: 25px;
	height: 25px;
	float: left;
	margin-bottom: 10px;
	cursor: pointer;
	display: block;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.edit-feedback-box .feedback-thumb:hover{
	opacity: 1;
	filter: alpha(opacity=100);
}

.edit-feedback-box .thumb-sel{
	opacity: 1;
	filter: alpha(opacity=100);
}

.trade-completed-panel .feedback-positive, .trade-completed-panel .feedback-negative{
	position: relative;
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url("../images/thumb-s.png") no-repeat 0 0;
	vertical-align: top;
}

.trade-completed-panel .feedback-negative{
	background-position: 0 -15px;
}

.feedback-table .feedback-positive{
	background: url("../images/thumb.png") no-repeat 0 0px;
	width: 25px;
	height: 25px;
	float: left;
	margin-bottom: 10px;
	margin-right: 15px;
}

.feedback-table .feedback-negative{
	background: url("../images/thumb.png") no-repeat 0 -25px;
	width: 25px;
	height: 25px;
	float: left;
	margin-bottom: 10px;
	margin-right: 15px;
}

.feedback-table .f-text{
	color: #000000;
	float: left;
	width: 368px;
	margin-bottom: 4px;
}

.feedback-table .i-title{
	font-size: 12px;
	color: #999999;
}

.feedback-table th{
	/* text-align: center; */
}

.feedback-table .red{
	font-weight: bold;
	font-size: 13px;
	color: #C2322B;
}

.feedback-table td{
	padding: 10px 0;
	border-bottom: 1px solid #CCCCCC;
	vertical-align: top;
}

#feedback-left-panel{
	width: 205px;
	padding-right: 10px;
	margin: 5px 10px 5px 10px;
	border-right: 1px solid #CCCCCC;
	padding-bottom: 20px;
	float: left;
}

#feedback-right-panel{
	margin-top: 5px;
	width: 780px;
	float: left;
}

.feedback-user-img img{
	max-width: 205px;
	max-height: 205px;
}

.banner-section{
	margin: 5px 10px 10px 0;
	float: left;
}

.top-users-section{
	width: 250px;
	float: left;
	padding: 5px 10px 0px 10px;
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
	margin-top: 5px;
}

.top-users-section ul{
	list-style-type: none;
}

.top-users-section .item-count{
	display: block;
	float: right;
	padding-top: 6px;
	font-size: 12px;
	text-align: right;
	margin-right: 10px;
}

.top-users-section ul li{
	padding: 0px 0;
}

.top-users-section ul .f-user-desc{
	padding-top: 6px;
}

.top-users-section ul .f-user-desc a{
	font-size: 12px;
}

.home-block{
	display: block;
	/* margin-bottom: 10px; */
}

a.gray{
	font-size: 11px;
	text-decoration: none;
}

.home-inner{
	padding-right: 10px;
}

.pb10{
	padding-bottom: 8px;
}

.top-ten-products .node{
	width: 139px;
	float: left;
	margin-right: 16px;
	margin-bottom: 20px;
}

.top-ten-products .node.nomargin{
	margin-right: 0;
}

.top-ten-products .node .thumb{
	width: 139px;
	height: 139px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.top-ten-products .node .thumb a{
	display: block;
}

.top-ten-products .node .thumb img{
	max-width: 136px;
	max-height: 136px;
	/* display: block; */
}

.top-ten-products .node .tt{
	margin: 3px 0px;
}

.top-ten-products .node .u{
	font-weight: bold;
	margin-bottom: 3px;
}

.top-ten-products .node .o{
	margin-bottom: 3px;
	color: #666666;
}

.top-ten-products .node .tl{
	font-size: 12px;
	color: #C0392B;
}

/*buy credit page */
.credits-panel{
	padding: 60px 0 60px 100px;
}

.credits-panel .node{
	width: 150px;
	height: 256px;
	position: relative;
	border: 1px solid #8C837D;
	margin-top: 34px;
	padding: 20px;
	float: left;
	margin-right: 18px;
	box-shadow: 5px 5px 5px #CCCCCC;
}

.credits-panel .price-box{
	width: 157px;
	height: 105px;
	color: #FFFFFF;
	font-size: 40px;
	font-size: bold;
	font-family: Arial;
	position: absolute;
	left: 22px;
	top: -34px;
	background: url("../images/credit-bg-1.png") no-repeat 0 0;
}

.credits-panel .price-box.price3{
	background: url("../images/credit-bg-2.png") no-repeat 0 0;
}

.credits-panel .price-box.price2{
	background: url("../images/credit-pop-bg.png") no-repeat 0 0;
	top: -47px;
	width: 195px;
	height: 134px;
}

.credits-panel .node-pop{
	width: 174px;
	height: 306px;
	position: relative;
	border: 1px solid #8C837D;
	margin-top: 0px;
	padding: 30px;
	float: left;
	margin-right: 18px;
	box-shadow: 5px 5px 5px #CCCCCC;
}

.paypal-verified{
	width: 182px;
	height: 174px;
	background: url("../images/paypal-verified.png") no-repeat 0 0;
	margin: 30px auto;
}

.credits-panel .node .desc{
	padding-top: 70px;
}

.credits-panel .node-pop .desc{
	padding-top: 100px;
}

.credits-panel .desc .cred{
	color: #5A534E;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
}

.credits-panel .desc .p-per{
	border-top: 1px solid #AFA59F;
	border-bottom: 1px solid #AFA59F;
	padding: 20px;
	text-align: center;
	font-size: 14px;
	color: #5A534E;
	margin-bottom: 25px;
	line-height: 18px;
	height: 18px;
}

.credits-panel .paypal-btn{
	display: block;
	width: 107px;
	height: 26px;
	margin: 0 auto 10px;
	background: url("../images/btn-paypal-buy.png") no-repeat 0 0;
}

.credits-panel .sign{
	width: 107px;
	height: 15px;
	background: url("../images/paypal-bottom.png") no-repeat 0 0;
	margin: 0 auto;
}

.mycredits{
	padding-right: 10px;
	font-size: 14px;
}

.mycredits .inner{
	padding: 50px;
}

.mycredits .red{
	color: #C0392B;
}

.special-note{
	padding: 20px;
	color: red;
	font-size: 12px;
}

.special-note span{
	font-size: 11px;
}

.gray-btn{
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	display: inline-block;
	color: #222222;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 2px 5px;
	text-decoration: none;
}

.gray-btn:hover{
	background-color: #EFEFEF;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}