forum/project_files
images/forum/upload
images/trade
products
phpmyadmin
photos
tmp

dashboard
forbidden
restricted
xampp
.idea/*
.idea/dataSources.local.xml
.idea/codeStyleSettings.xml

includes/config.php
includes/db_config.php
includes/functions/secure.php