/*
	Skin Name: Glossy Square Gray
	Class: glossy-square-gray
	Description: Glossy Square Gray skin for Advanced Slider jQuery plugin
	Author: David
*/

/* MAIN SLIDE */

.glossy-square-gray .slide-wrapper{
	background-color: #FFFFFF;
	border: 4px solid #FFFFFF;
	-moz-box-shadow: 0 0 10px #CCCCCC;
	-webkit-box-shadow: 0 0 10px #CCCCCC;
	box-shadow: 0 0 10px #CCCCCC;
}

.glossy-square-gray .slide{
	background-color: #FFFFFF;
}

/* END OF MAIN SLIDE */

/* SLIDE ARROWS */

.glossy-square-gray .slide-arrows a{
	background: url(images/arrows.png) no-repeat;
	width: 64px;
	height: 64px;
	top: 50%;
	margin-top: -32px;
}

.glossy-square-gray .slide-arrows a.previous{
	left: -32px;
}

.glossy-square-gray .slide-arrows a.next{
	right: -32px;
	background-position: -64px 0;
}

/* SLIDE ARROWS */

/* SLIDESHOW CONTROLS */

.glossy-square-gray .slideshow-controls{
	background: url(images/playpause.png) no-repeat;
	width: 64px;
	height: 64px;
	top: 50%;
	left: 50%;
	margin-top: -32px;
	margin-left: -32px;
}

.glossy-square-gray .slideshow-controls.pause{
	background-position: 0 0;
}

.glossy-square-gray .slideshow-controls.play{
	background-position: -64px 0;
}

/* END OF SLIDESHOW CONTROLS */

/* TIMER ANIMATION */

.glossy-square-gray .timer-animation{
	top: 20px;
	right: 20px;
}

/* END OF TIMER ANIMATION */

/* SLIDE CAPTION */

.glossy-square-gray .caption-container .background{
	background-color: #000000;
	width: 100%;
	height: 100%;
}

.glossy-square-gray .caption-container .caption{
	color: #FFFFFF;
	margin: 0;
	padding: 8px;
	font-size: 16px;
	line-height: 18px;
}

/* END OF SLIDE CAPTION */

/* SLIDE BUTTONS/BULLETS */

/* main container of the navigation buttons */
.glossy-square-gray .slide-buttons{
	margin-top: 40px;
}

.glossy-square-gray .slide-buttons .left,
.glossy-square-gray .slide-buttons .right{
}

.glossy-square-gray .slide-buttons .left{
}

.glossy-square-gray .slide-buttons .middle{
}

.glossy-square-gray .slide-buttons .right{
}

/* this contains the buttons */
.glossy-square-gray .slide-buttons .buttons-inner{
}

/* this contains the buttons */
.glossy-square-gray .slide-buttons .buttons-inner a{
	background: url(images/buttons.png) no-repeat;
	background-position: 0 0;
	width: 14px;
	height: 15px;
	margin: 0 2px;
}

.glossy-square-gray .slide-buttons .buttons-inner a.over{
	background-position: -14px 0;
}

.glossy-square-gray .slide-buttons .buttons-inner a.select{
	background-position: -28px 0;
}

/* this is used to style the numbers from within the buttons, when they are used */
.glossy-square-gray .slide-buttons .buttons-inner a .number{
	margin-top: 2px;
	font-size: 8px;
	line-height: 10px;
	font-weight: bold;
	color: #FFFFFF;
}

.glossy-square-gray .slide-buttons .buttons-inner a.over .number{
	color: #FFFFFF;
}

.glossy-square-gray .slide-buttons .buttons-inner a.select .number{
	color: #FFFFFF;
}

/*
 applied to the thumbnail when the thumbnail is used only as a tooltip
 sets the distance between the button and the thumbnail
*/
.glossy-square-gray .slide-buttons .buttons-inner .thumbnail-wrapper{
	margin-bottom: 10px;
}

/* END OF SLIDE BUTTONS/BULLETS */

/* THUMBNAIL IMAGE */

.glossy-square-gray .thumbnail{
	background-color: #FFFFFF;
	border: solid 3px #FFFFFF;
	-moz-box-shadow: 0 0 10px #AAAAAA;
	-webkit-box-shadow: 0 0 10px #AAAAAA;
	box-shadow: 0 0 10px #AAAAAA;
	-ms-filter: "progid: DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#AAAAAA')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#AAAAAA');
}

/* END OF THUMBNAIL IMAGE */

/* THUMBNAIL SCROLLER */

.glossy-square-gray .thumbnail-scroller.horizontal{
	bottom: 0;
	left: 0;
	padding: 0 50px;
	margin-top: 30px;
}

.glossy-square-gray .thumbnail-scroller.horizontal.overlay{
	bottom: 80px;
	margin-top: 0;
}

.glossy-square-gray .thumbnail-scroller.vertical{
	right: 0;
	top: 0;
	padding: 50px 0;
	margin-left: 30px;
}

.glossy-square-gray .thumbnail-scroller.vertical.overlay{
	right: 80px;
	margin-left: 0;
}

.glossy-square-gray .thumbnail-scroller .thumbnail-wrapper{
	margin: 5px;
	padding: 4px;
}

.glossy-square-gray .thumbnail-scroller .thumbnail.over{
	border: solid 3px #FFFFFF;
	-moz-box-shadow: 0 0 10px #555555;
	-webkit-box-shadow: 0 0 10px #555555;
	box-shadow: 0 0 10px #555555;
	-ms-filter: "progid: DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#555555')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#555555');
}

.glossy-square-gray .thumbnail-scroller .thumbnail.select{
	border: solid 3px #FFFFFF;
	-moz-box-shadow: 0 0 10px #555555;
	-webkit-box-shadow: 0 0 10px #555555;
	box-shadow: 0 0 10px #555555;
	-ms-filter: "progid: DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#555555')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#555555');
}

/* THUMBNAIL CAPTION */

.glossy-square-gray .thumbnail .caption .background{
	background-color: #000000;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.glossy-square-gray .thumbnail .caption .content{
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	padding: 2px 0;
	margin: 0;
}

/* END OF THUMBNAIL CAPTION */

/* THUMBNAIL SCROLLER ARROWS */

.glossy-square-gray .thumbnail-scroller .arrows a{
	background: url(images/arrows_small.png) no-repeat;
	width: 22px;
	height: 30px;
}

.glossy-square-gray .thumbnail-scroller.vertical .arrows a{
	background: url(images/arrows_v_small.png) no-repeat;
	width: 30px;
	height: 22px;
}

.glossy-square-gray .thumbnail-scroller.horizontal .arrows a.previous{
	left: 0;
}

.glossy-square-gray .thumbnail-scroller.horizontal .arrows a.next{
	right: 0;
	background-position: -22px 0;
}

.glossy-square-gray .thumbnail-scroller.vertical .arrows a.previous{
	top: 0;
}

.glossy-square-gray .thumbnail-scroller.vertical .arrows a.next{
	bottom: 0;
	background-position: 0 -22px;
}

/* END OF THUMBNAIL SCROLLER ARROWS */

/* THUMBNAIL SCROLLER BUTTONS */

.glossy-square-gray .thumbnail-scroller .buttons a{
	background: url(images/buttons_small.png) no-repeat;
	background-position: 0 0;
	width: 11px;
	height: 12px;
	margin: 2px;
}

.glossy-square-gray .thumbnail-scroller .buttons a.over{
	background-position: -11px 0;
}

.glossy-square-gray .thumbnail-scroller .buttons a.select{
	background-position: -22px 0;
}

/* END OF THUMBNAIL SCROLLER BUTTONS */

/* THUMBNAIL SCROLLER SCROLLBAR */

.glossy-square-gray .thumbnail-scroller.horizontal .scrollbar{
	margin-top: 30px;
}

.glossy-square-gray .thumbnail-scroller.vertical .scrollbar{
	margin-left: 30px;
}

/* END OF THUMBNAIL SCROLLER SCROLLBAR */

/* END OF THUMBNAIL SCROLLER */

/* TOOLTIP */

.tooltip{
	background-color: #DDDDDD;
	margin-bottom: 20px;
	border: #EEEEEE solid 4px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.tooltip .content{
	color: #999999;
	padding: 10px;
	margin: 0;
}

/* END OF TOOLTIP */